div.container {
    margin: 0 150px;
    padding: 15px 30px;
}

div.row {
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0;
}

div.row.justify-left {
    justify-content: left;
}

div.row.justify-right {
    justify-content: right;
}

div.row.justify-center {
    justify-content: center;
}

div.row > div.col {
    width: 25%;
    padding: 15px;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

div.row > div.col.col-auto {
    width: auto;
}

div.row.no-gutters > div.col {
    padding: 0;
}

div.row > div.col > div.card {
    border: solid 1px #e5d7d5;
    border-radius: 5px;
    padding: 15px;
}

div.row > div.col > div.card > h3,
div.row > div.col > div.card > h4 {
    margin: 0 0 8px 0;
}

div.row > div.col > div.card > ul {
    list-style: none;
    padding-left: 0;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border: 1px solid transparent;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    cursor: pointer;
    transition: all 150ms;
}

.btn-primary:hover {
    color: silver;
}

.btn-primary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-success:hover {
    color: silver;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

select {
    border: solid 1px silver;
    background: #2b2b2b;
    color: aqua;
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

.hidden{
    display: none;
}

.overflow-hidden{
    overflow: hidden;
}

div.modal-cover{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
}
div.modal {
    z-index: 2;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: solid 1px rgba(139, 139, 139, 0.68);
    width: 600px;
    height: 80%;
    background: #2b2b2b;
}

div.modal div.modal-header {
    height: 50px;
    overflow: hidden;
    border-bottom: 1px rgba(139, 139, 139, 0.68) solid;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 26px;
    font-family: sans-serif;
    text-transform: capitalize;
}

div.modal div.modal-body {
    height: calc(100% - 100px);
    overflow: auto;
    padding: 30px 15px;
    box-sizing: border-box;
}

div.modal div.modal-footer {
    text-align: right;
    height: 50px;
    overflow: hidden;
    border-top: 1px rgba(139, 139, 139, 0.68) solid;
    padding: 8px;
    box-sizing: border-box;
}

div.modal div.modal-footer .btn{
    height: 100%;
    margin-left: 4px;
}

/* lg */
@media only screen and (min-width: 1200px) {
    div.container {
        margin: 0 15%;
    }
}

/* md */
@media only screen and (max-width: 1200px) {
    div.container {
        margin: 0 75px;
    }
}

/* sm */
@media only screen and (max-width: 800px) {
    div.container {
        margin: 0 30px;
    }

    div.row {
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
    }

    div.row > div.col {
        width: 100%;
        margin: 15px 0;
    }

    div.row > div.col > div.card {
        text-align: center;
    }
}

/* xs */
@media only screen and (max-width: 600px) {
    div.row {
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
    }

    div.row > div.col {
        width: 100%;
        margin: 15px 0;
    }

    div.container {
        margin: 0;
        padding: 8px;
    }

    div.row > div.col > div.card {
        text-align: center;
    }

    div.modal{
        /*width: calc(100% - 30px);
        height: calc(100% - 30px);*/
        width: 100%;
        height: 100%;
    }
}

